# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\司法项目代码\edge_computing_microservice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
